.b1 {
    background-color: #bc9eeb;
}
.b2 {
    background-color: #4ca522;
}
.b3 {
    background-color: #537e81;
}
.b4 {
    background-color: #b44b22;
}
.b5 {
    background-color: #d3f802;
}
.b6 {
    background-color: #5b0bd3;
}